#cube {
    margin:0;
    position: relative;
    transform-style: preserve-3d;
}
@media screen and (max-width: 666px) {
    div.HomeContainer{
        width: inherit;
    }
    div.HomeContent>div{
        width: 100%;
    }
    div.HomeBG{
        inline-size: auto;
    }
}
.HomeBG{
    width: inherit;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.HomeContainer{
    max-width: 100%;
    width: calc(40vw + 400pt);
}
.HomeContainerBG{
    max-width: 100%;
    width: inherit;
    height: 100%;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    filter: blur(10px) saturate(65%) opacity(25%);
}
.BG-Cell{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.HomeContent{
    margin-top: 40vh;
    max-width: 100%;
    width: inherit;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.HomeContent>div{
    width: calc(100%/3);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cubeParent h1{
    display: inline;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-size: 5rem;
    mix-blend-mode: difference;
}
#cubeParent{
    display: flex;
    justify-content: center;
}
.imgBox{
    height: 100%;
    width: 100%;
    padding: 0;
}
.imgBox>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    image-rendering: pixelated;
    
}
.HomeContent h1{
    text-align: center;
    font-size: 5rem;
    line-height: 0;
    color: var(--bg-color-1);
}
.illLink{
    letter-spacing: -1.4rem;
    color: var(--bg-color-1);
}