@media screen and (max-width: 666px) {
    
}
.HomeBG{
    width: inherit;
    height: inherit;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.contentsOuter{
    max-width: 100%;
    width: calc(40vw + 400pt);
    padding: 0 1rem;
    background-color: var(--bg-color-2);
    
}
.MyImg{
    margin-top: 10vh;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.MyImg img{
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    object-fit: cover;
    border-style: solid;
    border-width: 1rem;
    border-color: var(--text-color-0);
}
.contentsContainer{
    color: var(--text-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.sns {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.sns li {
    line-height: 1;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.sns li a {
    opacity: 0.75;
    text-decoration: none;
    color: var(--text-color-2);
    transition: 1s color;
}
.sns li a:hover {
    color: #4985ca;
}
.profileText h1,.profileText h2,.profileText p{
    color: var(--text-color-1);
    text-align: center;
}